<%=flash[:notice] %>
<!-- 投稿内容 -->
    <div class="container">
    <div class="row">
      <div class="col-xs-4">
      <%= render 'books/book',book: @book,user: @user %>
        </div>
        <div class="col-xs-8">
            <h3>Users</h3>
        <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
        </tr>
        </thead>
        <!-- 繰り返し表示 -->
        <tbody>
        <% @users.each do |user| %>
        <tr>
            <th><%= attachment_image_tag user, :profile_image, fallback: "no_image.jpeg", size: '200x200'%></th>
            <th><%= user.name %></th>
        <!-- リンク -->
            <th><%= link_to "Show",user_path(user.id)%></th>
        </tr>
        <% end %>
        </tbody>
        </table>
    </div>
    </div>
    </div>