<%=flash[:notice] %>

<!-- プロフィール写真の反映 -->
<div class="profile-container">
    <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
  <% end %>
</div>

<!-- 投稿内容 -->
<h3>Book detail</h3>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
</table>

<!-- 投稿一覧 -->
<!-- % @book.each do |book| % -->
<table>
<tr>
<td><%= book.title %></td>
<td><%= book.body %></td>
<!-- 詳細リンク -->
<td><%= link_to "Show","/books/#{book.id}"%></td>
</tr>
<% end %>
</table>

<!-- 投稿フォーム-->
<h3>New book</h3>
<form>
  <div class="col-lg-3">
    <label for="exampleFormControlInput1">Title</label>
    <input type="title" class="form-control" id="exampleFormControlInput1">
    <label for="exampleFormControlTextarea1">Opinion</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" class="btn btn-primary">Create Book</button>
  </div>
</form>