<!-- プロフィールカード -->
<h3>User info</h3>
<div class="card" style="width: 30rem;">
  <div class="card-body"><%= attachment_image_tag user, :profile_image, fallback: "no_image.jpeg", size: '200x200' %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">name
    <%= user.name %></li>
    <li class="list-group-item">introduction<%= user.introduction %></li>
  </ul>
  <% if user.id == current_user.id %>
    <%= link_to "edit", edit_user_path(current_user), class: "glyphicon glyphicon-wrench" %>
  <% end %>
</div>

<!-- 投稿機能 -->
<%= form_for(book) do |f| %>
  <%# ここからエラーメッセージ %>
  <% if book.errors.any? %>
    <div>
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# ここまでエラーメッセージ %>
<h1>New book</h1>
<p>Title</p>
<%= f.text_field:title %>
<p>Body</p>
<%= f.text_area:body %><br>
<%= f.submit 'Create Book' %>
<% end %>