<%=flash[:notice] %>
<h3>Books</h3>
<table>
	<tr>
	 <th width="800">Title</th><th width="900">Opinion</th><th></th>
	</tr>
<!-- 繰り返し表示 -->
<% @book.each do |book| %>
<tr>
<td><%= book.title %></td>
<td><%= book.body %></td>
<!-- 各種リンク -->
<td><%= link_to "Show","/books/#{book.id}"%></td>
<td><%= link_to "Edit","/books/#{book.id}/edit"%></td>
<td><%= link_to "Destroy",destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
</tr>
<% end %>
</table>

<!-- 投稿機能のテンプレートを作成？ -->
<h3>New book</h3>
<form>
  <div class="col-lg-3">
    <label for="exampleFormControlInput1">Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
    <label for="exampleFormControlTextarea1">Opinion</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>