<!-- 投稿内容 -->
    <div class="container">
    <div class="row">
      <div class="col-xs-4">
      <%= render 'books/book',book: @book,user: @book_show.user %>
        </div>
        <div class="col-xs-8">
            <h3>Book detail</h3>
        <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><%= attachment_image_tag @book_show.user, :profile_image , fallback: "no_image.jpeg", size: '200x200'%></th>
            <th><%= @book_show.title %></th>
            <th><%= @book_show.body %></th>
            <!-- userのshowに飛ぶ -->
            <% if @book_show.user.id == current_user.id %>
            <th><%= link_to "edit", edit_book_path(@book_show), class: "btn btn-success" %></th>
            <th><%= link_to "destroy", edit_book_path(@book_show), class: "btn btn-destroy" %></th>
        <% end %>
        </tr>
        </tbody>
        </table>
    </div>
    </div>
    </div>