<!DOCTYPE html>
<html>
  <head>
    <title>BookersLv2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<% if user_signed_in? %>
<div class="row" style="background-color: black;">
<nav class="nav navbar-right>
    <a class="nav-link book">Bookers</a>
    <a class="nav-link active" href="destroy_user_session_path", method: :delete>logout</a>
    <a class="nav-link" href="user_path(current_user)">Home</a>
    <a class="nav-link" href="books_path">Books</a>
    <a class="nav-link disabled" href="books_path" >Users</a>
</nav>
<% else %>
<nav class="navbar navbar-right">
<ul>Bookers</ul>
<ul class="nav justify-content-end">
    <li class="nav-item">
    <a class="nav-link active" href="root_path">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about_path">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="new_user_registration_path">sign up</a>s
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="new_user_session_path" >login</a>
  </li>
</ul>
  <% end %>
</nav>
</div>
<%= yield %>
</body>
</html>