<head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
<!-- BookersとHomeとか並べる -->
<h3>Bookers</h3>
<% if user_signed_in? %>
<!-- パスは出たらめ書き換える -->
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
      <%= link_to "Home", user_path(current_user.id) %>
      <%= link_to "Books", new_book_path %>
      <%= link_to "Users", new_user_session_path %>
      <% else %>
      <%= link_to "Home", books_path %>
      <%= link_to "About", users_path %>
      <%= link_to "sign up", users_path %>
      <%= link_to "login", users_path %>
  <% end %>
</header>
<%= yield %>
</body>
</html>
